*.env
**/__pycache__/
logs.log
info.log
debug.log
info_logs.log
debug_logs.log
groups_info/
clients_info/
.vscode/
MessageEvents.sqlite
MessageEvents.db
logs/
output/
outputs_archive/
test.py
test2.py
critical_error.txt
output.zip
outputs_archive.zip
outputs_archive/
temp/
server/
templates/ru/
templates/de/
templates/es/
server.zip